*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background:limegreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 400px;
    background: white;
    padding: 50px 90px;
    box-shadow: 0 20px 25px rgb(54, 53, 53);
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
}

.head{
    width: 45%;
}

input{
    width: 100%;
    border-radius: 8px;
    height: 50px;
    border: 2px solid #bbb7b7;
    outline: none;
    margin-top: 5px;
    padding:0 10px;
}